* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-heading: 'Staatliches', sans-serif;
    --ff-header2: 'Palanquin', sans-serif;

    --fc-header2color: hsl(274, 84%, 12%);
    --bg-span: hsla(312, 91%, 96%, 1);
    
}



header {
    
   width: 38.4rem;
   height: 27.9rem;
      

    background: #8E9AAF;
    margin: 0 auto;

   
    
}


.logo {
    display: flex;
  
    margin: 0 auto;
    justify-content: center;

    padding: 3.2rem 0 3.2rem;
}

header h1 {
    
    width: 38.4rem;
    

    display: flex;
    align-items: center;
    justify-content: center;

    height: 4.9rem;
    
    font-family: var(--ff-heading);
    font-size: 4rem;
    line-height: 34px;

    letter-spacing: 0.05em;

    color: #FFFFFF;

    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    text-align:center;
    
    text-transform: uppercase;

    background: #CBC0D3;
        
}


.wrapper {
    
    width: 38.4rem;
    height: 199.5rem;
    display: grid;
    background: #EFF1FF;
    
    margin: 0 auto;
    
    padding: 1.4rem 3.2rem 6rem;

}

.wrapper h2 {


width: 30.5rem;
height: 7.5rem;


font-family: var(--ff-header2);
font-size: 2rem;
line-height: 1.5rem;
font-weight: 400;
text-align: center;



color: var(--fc-header2color);

margin-top: 1.4rem;

}


.wrapper .card {
    position: relative;
    display: flex;
    margin-bottom: 3.2rem;
    

}

.wrapper .card img { 
    
    border-radius: 20px;
    object-fit: cover;
     
    
    animation: downtop 700ms reverse;

}

.wrapper .card span {
    
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 112px;
    height: 35px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 34px;
    
    letter-spacing: 0.05em;

    color: #4A4E69;
    background: var(--bg-span);
    border-radius: 20px;
    top: 1.6rem;
    right: 1.6rem;

   animation-name: topdown;
   animation-duration: 2500ms;

}

@keyframes topdown {
    0%{ 
    
        opacity: 0;
        transform: translateY(-15px);
    

    }

    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes downtop {
    
100%{
    opacity: 0;
    transform: translateY(15px)
}

}